@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:ital,wght@0,400..700;1,400..700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
@import "tailwindcss";
@plugin "daisyui";

@theme {
    --font-family: "Ibarra Real Nova", serif;
    --font-optical-sizing: auto;
    --font-weight: <weight>;
    --font-style: normal;
}


@plugin "daisyui/theme" {
  name: "halloween";
  default: false;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: #FFF6E5;
  --color-base-200: #F9D9B7;
  --color-base-300: #E9B17D;
  --color-base-content: #2B0B00;
  --color-primary: #FF7538;
  --color-primary-content: #1B0B02;
  --color-secondary: #FFA94D;
  --color-secondary-content: #3B1F0A;
  --color-accent: #FFF0DA;
  --color-accent-content: #382514;
  --color-neutral: #8A5D48;
  --color-neutral-content: #FDF1E8;
  --color-info: #5F80C9;
  --color-info-content: #EAF0FF;
  --color-success: #4CAF50;
  --color-success-content: #E4F7E6;
  --color-warning: #E07B00;
  --color-warning-content: #FFF5E0;
  --color-error: #B6381D;
  --color-error-content: #FFECE7;
  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}



